@CHARSET "ISO-8859-1";

body{
			
}

.row{
	font-family: Arial;
	width: auto;
	overflow: auto;
	margin: 0 auto;
	}
	


.logo{
	width: 400px;
	overflow: auto;
	margin: 20px;
}

.logo h1{
	margin: 0;
	padding: 0;
	font-size: 45px;
	font-family: Verdana;
	font-weight: 100;
}

.input_form{
	width: auto;
	height: 600px;	
}

.map{
	width: 300px;
	height: 300px;
}